<div id="page">
    <div id="main">
        <div class="title">
            <h1>YOUR ADVENTURE</h1>
            <h1 class="masked-text"><span class="sp">STARTS HERE...</span></h1>
        </div>
    </div>
</div>

<div class="page" id="page2">
    <div id="sub" #subref>
        <h4>Discover and Book unforgettable trips to the worlds best Amusement and Adventure parks — all in one place...
        </h4>
    </div>
</div>

<div class="page" id="page3">
    <div id="sub" #subref1>
        <h4>Go Global With Your Fun — Discover Parks That Spark Joy Everywhere...</h4>
    </div>
</div>

<div class="page" id="page4">
    <div id="sub" #subref2>
        <h4>Unlock the best prices on tickets, packages, and food only through trusted partners...</h4>
    </div>
</div>

<div class="page1" id="page5">
    <div id="head" #headRef>
        <h3>Our Best Rides...</h3>
    </div>

    <div class="rides">

        <div class="ride" #ride1>
            <img src="/assets/images/ride1.png" class="ride-image">
            <h6>Roller Coaster</h6>
            <p>Experience the thrill.</p>
        </div>

        <div class="ride" #ride2>
            <img src="/assets/images/ride2.png" class="ride-image">
            <h6>Ferris Wheel</h6>
            <p>Enjoy the view.</p>
        </div>

        <div class="ride" #ride3>
            <img src="/assets/images/ride3.png" class="ride-image">
            <h6>Log Flume</h6>
            <p>Get wet and wild.</p>
        </div>

        <div class="ride" #ride4>
            <img src="/assets/images/ride4.png" class="ride-image">
            <h6>Carousel</h6>
            <p>Classic fun for all ages.</p>
        </div>

        <div class="ride" #ride5>
            <img src="/assets/images/ride5.png" class="ride-image">
            <h6>Drop Tower</h6>
            <p>Feel the adrenaline rush.</p>
        </div>

        <div class="ride" #ride6>
            <img src="/assets/images/ride6.png" class="ride-image">
            <h6>Bumper Cars</h6>
            <p>Fun collisions for everyone.</p>
        </div>

    </div>
</div>
<div class="h-[15vh] bg-transparent">

</div>